body
{
	display: none;
}

div.searchBar
{
	margin-top: 30px;
}

div.first-row
{
	margin-top: 110px;
}

div.results
{
	border: 1px solid black;
	border-radius: 4px;
	margin-top: 10px;
	padding: 5px;
}

img.icon
{
	max-width: 200px;
	max-height: 200px;
	float: left;
	margin: 0px 10px 10px 0px;
	border: 1px solid black;
}

div.caroussel
{
	border: 1px solid black;
}

h4.price
{
	text-align: center;
}

div.carousel-inner > .item > img {
    margin: 0 auto;
}

div.align-right
{
	text-align: right;
}